.log {
    width: 100%;
    height: 100vh;
}

/* log in content */

.log_in_content{
width: 1200;
height: auto;
margin: auto;
color:#fff;
justify-content: center; 
}
.log_in_content .par{
padding-left: 20px;
padding-bottom: 25px;
font-weight: Arial;
letter-spacing: 1.2px;
line-height: 30px;
padding-top: 100px;
color:rgba(255, 201, 40, 0.89);
font-size:larger;
font-family:  'Arial Narrow Bold';
}
.log_in_content h1{
font-family: 'Times New Roman';
font-size: 90px;
padding-left: 20px;
margin-top: 20%;
letter-spacing: 2px;
color: rgb(0, 0, 0) ;
} 
.form {
width:400px;
height: 400px;
background: linear-gradient(to top, rgba(0, 0, 0, 0.51)50%,rgba(0,0,0,0.51)50%);
position:absolute;
top: -50%;
left: 500px; 
border-radius: 10px;
padding: 25px;    
margin-top: 500px;
}
.form h2{
width: 350px;
font-family: 'Times New Roman';
text-align: center;
color: #fff;
font-size: 22px;
background-color: #ff7200;
border-radius: 10px;
margin: 2px;
padding: 8px; 
}
.form input{
width: 240px;
height: 37px;
background: transparent;
border-bottom: 1px solid #ff7200;
border-top: none;
border-right:none;
border-left:none;
color: #fff; 
font-size: 15px;
letter-spacing: 1px;
margin-top: 30px;
margin-left: 80px;
font-family: 'Times New Roman'; 
}

  
.form input:focus{
outline:none;
}


::placeholder{
color:#ff7200;
font-family:Arial;
}
.btnn{
width: 250px;
height: 40px;
background: #ff7200;
border:none;
margin: auto;
margin-bottom: 150px;
position: absolute;
top: 0;
left: 0;
right:0;
bottom: 0;
font-size: 18px;
border-radius:50px 15px 50px 15px ; 
cursor: pointer;
color:#ffffff;  
/* text-align: center; */
transition: 0.4s ease; 
padding-left: 50px;
padding-right: 50px;

}   
.btnn:hover{
background: #fff;
color: #ff7200;
text-align: center;
}
.btnn a{
text-decoration: 100px;
color: #000;
font-weight: bold;
justify-content: center;
display: flex;
}
.form .link{
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
padding-top: 20px;
text-align: center;
}
.Link{
color:#fff;
font-family: 'Times New Roman';
font-size: larger;
right: 50px;
text-align: center;
margin-top:90px;
}
.form .Link a{
text-decoration: none;
color:#ff7200;
}

.liw {
color:#ffffff;
font-family: 'Times New Roman';
font-size: larger;
text-align: center;
display: block;
padding-top: 15px;
padding-bottom: 10px;
}

.icons a{
text-decoration: none;
color: #fff;
position:relative;
top: 10px; 
left: 46%;
right:67%;
text-decoration: none;
color:#ffffff;

padding-bottom: 500px;

}
.icons ion-icon{
color: #ffffff;
font-size: 30px;
padding-left: 14px;
padding-bottom: 0px;
transition: 0.3s ease;
}

.icons ion-icon:hover{
color: #ff7200;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 1000px;
    padding: 30px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.logo{
    width: 80px;
}

/* removing underline of options*/

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:40px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
nav ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.3s;
}
nav ul li:hover::after{
    width: 100%;
}